body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #151515;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul.ant-pagination > li.ant-pagination-total-text {
  flex: 1;
}

.ant-progress-bg {
  transition: all 1s cubic-bezier(0.165, 0.84, 0.4, 0.85) !important;
}

.ant-modal-confirm-paragraph {
  max-width: 100% !important;
}

td.ant-table-cell a {
  color: #0072ba;
  text-decoration: underline;
}
